.grid-container3{
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}
.grid-container3 > div{
    width: 25vw;
    height: 40vw;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
}
.plano{
    background-color: aqua;
}
.gradiente{
    background: linear-gradient(to right, red, white);
}
.conImagen{
   background-image: url(/assets/img/pared.avif);
}
.conImagen >h5{
    color: white;
}
.navbar-responsitive{
    display: none;
   
    
}


@media (max-width:600px){
    .grid-container3 > div{
        width: 15vw;
        height: 30vw;
        border: 2px solid black;
        padding: 15px;
        margin: 15px;
    }
    /* revisar */
    .responsitive >.navbar-responsitive  :hover {
        display: grid;
        position: fixed;
        grid-template-rows: auto auto auto auto;
        float: right;
        text-align: right;
        background-color: #555;
        overflow: auto;
        
    }
    .navbar-responsitive a{
        float: right;
        padding: 12px;
        color:white;
        text-decoration: none;
    }
    
}
